.type_show_list{padding:4px 4% 4px 15%;border:1px solid #dcdcdc;line-height:31px;text-align:left;height:31px;background-color:#fff;background-repeat:no-repeat;background-position:10px center;margin-bottom:-1px}
.type_show_list a{position:relative;display:block}
.url_list{background-image:url(http://static.clewm.net/static/images/web_7408dc2.png)}